@import "@flaticon/flaticon-uicons/css/all/all.css";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell ", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

html,
body {
    overflow-x: hidden;
}



.container-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    min-height: 100vh;
}

h3 {
    color: #fff
}

h4 {
    color: #fff;
}

p {
    color: #696a6c;
}

a {
    text-decoration: none;
    color: white;
}

.container1 {
    position: relative;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
}

.header {
    background-color: #191e29;
}

.header2 {
    background-color: #01c38d;
}


.header-container {
    position: relative;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px 40px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.header-text {
    text-shadow: 0 0 5px rgb(255, 255, 255);
}


.content {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    flex-wrap: wrap;
}

.background-about {
    position: relative;
    width: 100%;
    height: 40vh;
    background-color: #202633;
}

.img-header {
    position: relative;
    top: 17px;
    left: 20px;
    width: 250px;
    height: 350px;
    z-index: 1;
    filter: drop-shadow(0 0 10px #01c38d);
}


.container-about {
    padding: 3rem;
    margin-inline: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.redes-list-container {
    font-size: 3rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    list-style-type: none;
}

.contact-me {
    background-color: #01c38d;
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-family: "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell ", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica;
}


.image {
    position: relative;
    left: 40px;
    top: -34px;
    width: 200px;
    height: 200px;
    animation: salirDelRecuadro 1s ease-out;
    transition: top 0.8s ease, left 0.8s ease;
    ;
}

.image:hover {
    top: 0;
    left: 0;
    animation: none;
}

.image-container {
    position: relative;
    left: -50px;
    bottom: -40px;
    width: 204px;
    height: 204px;
    border: 2px solid #01c38d;
}

@keyframes salirDelRecuadro {
    from {
        left: 0;
        top: 0;
    }

    to {
        left: 40px;
        top: -34px;
    }
}


.proyectsAndTools-container {
    position: relative;
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191e29;
}

.proyectsAndTools-title2,
.proyectsAndTools-title1 {

    font-size: 1.5rem;
}

.curse-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}

.cursos {
    width: 365px;
    height: 200px;
    margin: 1rem;
    background-color: #01c38d
}

.cursos:first-child {
    height: 202px;
    border: 1px solid #c8f31c;

}

.curse-img {
    width: 100%;
    height: auto;
    max-height: 200px;
    display: block;
    opacity: 0.8;
}

.border1 {
    position: absolute;
    width: 6rem;
    left: 85rem;
    height: 0.5rem;
    top: 3.5rem;
    background: linear-gradient(90deg, transparent, #01c38d, transparent);
}

.border2 {
    position: absolute;
    width: 9rem;
    left: 89rem;
    height: 0.5rem;
    top: 3.5rem;
    background: linear-gradient(-90deg, transparent, #01c38d, transparent);
}

.border3 {
    position: absolute;
    width: 10rem;
    left: 93rem;
    rotate: 90deg;
    height: 0.5rem;
    top: 8.2rem;
    background: linear-gradient(40deg, transparent, #01c38d, transparent);
}


.border1-cursos {
    position: absolute;
    width: 13rem;
    right: 85rem;
    top: 3.6rem;
    height: 0.5rem;
    background: linear-gradient(40deg, transparent, #01c38d, transparent);
}

.border2-cursos {
    position: absolute;
    width: 5rem;
    right: 95.5rem;
    top: 13.3rem;
    rotate: 90deg;
    height: 0.5rem;
    background: linear-gradient(40deg, transparent, #01c38d, transparent);

}

.border3-cursos {
    position: absolute;
    width: 1rem;
    top: 9.6rem;
    right: 97.5rem;
    rotate: 90deg;
    height: 0.5rem;
    background: linear-gradient(40deg, transparent, #01c38d, transparent);
    border-top-left-radius: 92%;
    border-bottom-right-radius: 92%;
}

.border4-cursos {
    position: absolute;
    width: 5rem;
    top: 5.9rem;
    right: 95.5rem;
    rotate: 90deg;
    height: 0.5rem;
    background: linear-gradient(40deg, transparent, #01c38d, transparent);
}

.proyectos-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
}


.proyectos1,
.proyectos2,
.proyectos3,
.proyectos4 {
    width: 570px;
    height: 250px;
    margin: 1rem;
    background: linear-gradient(to right, #0c3328, rgba(37, 37, 36, 0.5)), url("/img/mantispreview.png");
    background-size: cover;
    background-repeat: no-repeat;
}


.proyectos2 {
    background: linear-gradient(to right, rgba(78, 8, 8, 0.5), rgba(37, 37, 36, 0.5)), url("/img/tienda-mantispreview.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.proyectos3 {
    background: linear-gradient(to left, rgba(155, 155, 39, 0.5), rgba(37, 37, 36, 0.5)), url("/img/tienda-react.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.proyectos4 {
    background: linear-gradient(to right, rgba(16, 33, 87, 0.5), rgba(37, 37, 36, 0.5)), url("/img/spaceinvaders.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.description-proyects {
    padding-inline: 0.3rem;
}

.links-proyects {
    display: flex;
    justify-content: end;
    padding: 0.2rem;
    font-size: 1.5rem;
    gap: 0.3rem;
}

.description-proyects-p {
    color: #fff;
    margin-left: 10px;
}

.proyect-title {
    font-size: 1.2rem;
}

.proyectsAndTools-title1 {
    margin-top: 2.1rem;
    position: relative;
    left: -33rem;
    z-index: 1;
}

.proyectsAndTools-title2 {
    margin-top: 2rem;
    position: relative;
    left: 30.8rem;
}










@media (max-width: 1250px) {

    .container-about {
        flex-direction: column;
        margin-inline: 5rem;
    }

    .proyectos-container {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .proyectos1,
    .proyectos2,
    .proyectos3,
    .proyectos4 {
        width: 100%;
    }

    .curse-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .image-container {
        display: none;
    }

    .background-about {
        height: 30vh;
    }
}

@media (max-width: 970px) {
    .proyectos-container {
        padding: 2rem;
    }
}


@media (max-width: 800px) {
    .content {
        align-items: start;
    }

    .header-container {
        top: 4rem
    }

    .background {
        grid-template-columns: 1fr;
    }

    .background-about {
        display: flex;
    }

    .container-about {
        display: flex;
        flex-wrap: wrap;
        margin-inline: 2rem;
        padding: 2rem;
    }

    .curse-container {
        grid-template-columns: 1fr;
        /* Los cursos en una sola columna */
    }

    .proyectos-container {
        grid-template-columns: 1fr;
    }

    .proyectos1,
    .proyectos2,
    .proyectos3,
    .proyectos4 {
        width: 570px;
    }

    .image {
        width: 150px;
        height: 150px;
    }

    .cursos {
        width: auto;
        height: auto;
    }

    .curse-img {
        min-height: 300px;
    }

    .proyectsAndTools-title1 {
        position: static;
        font-size: 2rem;
    }

    .proyectsAndTools-title2 {
        position: static;
        font-size: 2rem;
    }

    .curse-container {
        gap: 1rem
    }

    .cursos:first-child {
        height: 302px;
    }
}

@media (max-width: 600px) {

    .proyectsAndTools-title1,
    .proyectsAndTools-title2 {
        position: static;
        text-align: center;
    }

    .border1,
    .border2,
    .border3 {
        display: none;
    }

    .container-about {
        padding: 1rem;
    }

    .proyectos-container {
        gap: 0
    }

    .proyectos1,
    .proyectos2,
    .proyectos3,
    .proyectos4 {
        width: auto;
    }

    .container1 {
        height: auto;
    }

    .content {
        align-items: end;
    }

    .header-container {
        text-align: center;
        padding: 14px 13px;
        border-radius: 10px;
        margin-bottom: 1rem;
        top: 0;
        background: none;
    }

    .img-header {
        top: 4px;
        left: 3px;
        width: 200px;
        height: 290px;
    }
}

@media (min-width: 300px) and (max-width: 600px) {
    .background-about {
        height: auto;
    }

    .container-about {
        font-size: 14px;
    }

    .contact-container {
        font-size: 10px;
        justify-content: start;
        gap: 1rem
    }

    .redes-list-container {
        font-size: 25px;
        gap: 1.5rem;
    }

    .header-container {
        font-size: 15px;
    }

    .img-header {
        width: 120px;
        height: 230px;
    }
    .proyectsAndTools-title1,
    .proyectsAndTools-title2 {
       font-size: 1.5rem;
    }
}